

.titlename {
	display: inline;
	font-weight: bold;
	font-size: 100%;
	line-height: 3px;
	background-color: white;
	/*width: 10%;*/
	margin: auto;
}

.title {
	height: 2px;
	background-color: #BCA474;
	margin-bottom: 20px;
	margin-top: 40px;
	width: 100%;
	text-align: center;
}