

.resumeheaderbars {
	display: none;
}

.sectionheader {
	height: 2px;
	background-color: #969696; /* CHANGE THIS BACKGROUND COLOR */
	margin-bottom: 20px;
	margin-top: 40px;
	width: 100%;
	text-align: center;
	margin-top: -0.1em;
}

.sectionname {
	display: inline;
	font-weight: bold;
	font-size: 140%;
	line-height: 3px;
	background-color: #FDF6E3;
	margin: auto;
}

.itemname {
	font-size: 100%;
}

.item {
	margin-left: -1em;
}
.itemdetail {
	margin-left: -1em;
}