body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	max-width: 960px;
	margin: auto;
	padding: 10px; 
	background-color: #FDF6E3;
}

#resumeheader {

}

#myname {
	font-size: 150%;
	font-family: 'Domine', sans-serif;
	text-transform: uppercase;
}

.section {
	
}

.sectionheader {
	height: 2px;
	background-color: #969696; /* CHANGE THIS BACKGROUND COLOR */
	width: 100%;
	text-align: center;
	margin-top: -0.1em;
}

.sectionname {
	display: inline;
	font-weight: bold;
	font-size: 120%;
	line-height: 3px;
	background-color: #FDF6E3;
	margin: auto;
	position: relative; top: -0.3em;
}

.itemname {
	font-size: 90%;
}

.itemnamedetail {
	font-style: italic;
	font-weight: normal;
	font-size: 90%;
}

.itemdetailheader {
	font-weight: bold;
	font-size: 85%;
}

.itemdetail {
	font-size: 100%;
	font-weight: normal;
}

.itemdetailtail {
	font-style: italic;
	font-size: 90%
}
